
@font-face {
    font-family: "Pang";
    src: url("fonts/pang.otf") format("opentype");
}

@font-face {
    font-family: "Absans";
    src: url("fonts/absans-main/fonts/Absans-Regular.otf") format("opentype");
}

theme-colors {
    background-color: #de2572;
    /* background-color: #ff3333; */
    background-color: #c1d267;
    background-color: #ffcf37;
    background-color: #ffd0376c;
    background-color: #000fb0;
}

html {
    height: 100%;
}

body {
    display: flex;
    /* gap: 10px;           */
    align-items: flex-start;

    height: 100%;
    overflow: hidden;

    font-family: "Absans";
    background-color: #ffe079b1;
    cursor: url("img/cheese.cur") 0 0, auto;
}

h1 {
    font-size: 40px;
}

a {
    color: #000fb0;             /* normal text color */
    transition: color 0.2s;
    text-decoration: none;
}

a,
a:hover,
a:active,
a:focus
button,
button:hover,
input,
textarea,
select,
label {
    cursor: url("img/cheese.cur") 0 0, auto;
}


a:hover {
    color: #de2572;
}

.menu {
    height: 100%;              /* needs a unit */
    width: 300px;
    padding: 20px;         /* centers horizontally & adds spacing */

    /* border-top: 3px solid #ff3333; */
    
    display: block;            /* ensures stacking */

    box-sizing: border-box;    /* prevents border from breaking width */

    overflow-y: auto;

    background-image: url("img/textile_cats.jpeg");
    background-size: cover;      /* fill screen */
    background-position: center; /* center image */
    background-repeat: no-repeat;
}

.menu img {
    max-width: 100%;
}

.menu_header {
    padding-bottom: 30px;
}

.menu_content {
    background-color: #ffe079b1;
    border-radius: 20px;
    padding-left: 10px;
    padding-right: 10px;
}

.menu button {
    background: #ffcf37;   
    border: none;
    border-radius: 25px;
    padding: 5px;
    padding-inline: 10px;
    margin: 2px;
    font-family: "Absans"; /* your custom font */
    font-size: 20px;
    color: #000fb0;             /* normal text color */
    transition: color 0.2s;
}

.menu button:hover {
    color: #de2572;             /* color on hover */
}

.menu button.active {
    color: #de2572;             /* active page highlight */
    font-weight: bold;           /* optional, makes it stand out */
}


.footer {
    margin-top: 20px;

    border-top: 3px dotted #ffcf37; 
    color:#ffcf37;
    font:bold;
    
    display: block;            /* ensures stacking */
    box-sizing: border-box;    /* prevents border from breaking width */
}

.trim {
    width: 30px;
    height: 100%;
    background-image: url("img/lace_trim.png");
    background-size:contain;     
    background-position: center; 
    background-repeat: repeat-y; 
}

.content {
    height: 100%;              /* needs a unit */
    width: 1000px;
    padding: 20px;    
    
    display: block;            /* ensures stacking */
    box-sizing: border-box;    /* prevents border from breaking width */

    overflow-y: auto;

}

.content img {
    max-width: 100%;
}

.blog_post {
    height: max-content;   
    padding-top: 10px;
    border-top: 3px dotted #de2572;
    display: block;            /* ensures stacking */
    box-sizing: border-box;    /* prevents border from breaking width */
}

/* CHART FOR MEDIA CONSUMPTION */
.info-chart {
  width: 100%;
  border-collapse: collapse;
  font-family: "Absans";
}

.info-chart th,
.info-chart td {
  /* border: 2px solid #000fb0; */
  padding: 8px;
  vertical-align: top;
  min-width: 100px;
}

.info-chart th {
  /* background: #feffc5; */
  text-align: left;
}

.info-chart img {
  max-width: 200px;
}

.info-chart p {
    margin: 0;
}

/* MAP */
#map {
    height: 500px;           
    width: 100%;
}

  
.leaflet-popup-content-wrapper {
    background: #feffc5;
    color: #000fb0;
    font-family: "Absans";
    font-size: 14px;
    border-radius: 8px;
}
  
.leaflet-popup-tip {
    background: #feffc5;
}

/* CURSOR FOLLOWER (MOUSE) */
#cursor-follower {
    position: fixed;
    top: 0;
    left: 0;
    width: 30px;   /* size of follower */
    height: auto;
    pointer-events: none; /* VERY IMPORTANT */
    z-index: 9999;
  }
  
/* HIGHLIGHTED SELECTION COLOR */
::selection {
    background: #de25726b;
    /* color: #de2572;     */
}

::-moz-selection {
    background: #de25726b;
    /* color: #de2572;     */
}