
@font-face {
    font-family: "Pang";
    src: url("fonts/pang.otf") format("opentype");
}

@font-face {
    font-family: "Absans";
    src: url("fonts/absans-main/fonts/Absans-Regular.otf") format("opentype");
    src: url("fonts/CLTApfelGrotezk/desktop/ApfelGrotezk-Regular.otf") format("opentype");
    /* src: url("fonts/absans-main/fonts/Absans-Regular.otf") format("opentype"); */
}

theme-colors {
    background-color: #de2572;
    /* background-color: #ff3333; */
    background-color: #c1d267;
    background-color: #ffcf37;
    background-color: #ffd0376c;
    background-color: #000fb0;
}

html {
    height: 100%;
}

body {
    display: flex;
    /* gap: 10px;           */
    align-items: flex-start;

    height: 100%;
    overflow: hidden;

    font-family: "Absans";
    background-color: #ffe079b1;
    cursor: url("img/cheese.cur") 0 0, auto;

    margin-top: 130px;
}

h1 {
    font-size: 40px;
}

a, button {
    font-family: "Absans";
    color: #000fb0;             /* normal text color */
    transition: color 0.2s;
    text-decoration: none;
    background: none;
    border: none;
    margin: 0;
    font-size: 16px;
}

a:hover, button:hover {
    color: #de2572;             /* color on hover */
}

a,
a:hover,
a:active,
a:focus
button,
button:hover,
input,
textarea,
select,
label {
    cursor: url("img/cheese.cur") 0 0, auto;
}

/* ******************* TOP MENU BAR ******************* */

.menu-bar {
    top:0;
    left:0;
    width: 100%;
    height: 100px;
    position: fixed;

    display: flex;
    align-items: center;
    overflow: hidden;

    background-image: url("img/textile_cats.jpeg");
    background-position: center; 
    background-repeat:repeat-x;

    padding-inline: 10px;
}

.menu-bar button, 
.menu-bar a {
    font-size: 60px;    
    width: 100%;
    margin: 0;
    padding: 5px;
    font-weight: bold;
    text-align: center;
}

.menu-bar button:hover, 
.menu-bar a:hover {
    text-decoration: wavy;
}

.menu-bar button.active {
    color: #ffcf37;     
}

.menu-bar img {
    max-height: 80px;
    max-width: 90%;
    padding: 5px;
    display: block;

    /* border-radius: 30px; */
}

.trim {
    width: 100%;
    height: 20px;
    position:fixed;
    top:100px;
    background-image: url("img/lace_trim.png");
    background-size:contain;     
    background-position: center; 
    background-repeat: repeat-x; 
}

/* ******************* LEFT COLUMN ******************* */

.left-column {
    height: 80%; 
    width: 250px;
    padding: 5px;         
    top:0;
    left:0;
    
    margin-right: 10px;
    
    display: block;

    box-sizing: border-box;   

    overflow-y: auto;

    min-width: 190px;
}

.left-column img {
    max-width: 100%;
    border-radius: 30px;
}

.left-column-content {
    background-color: #ffe079b1;
    border-radius: 30px;
    padding: 15px;
    margin-bottom: 15px;
}

.left-column-content img {
    border-radius: 20px;
}

.left-column button, 
.left-column a {
    background: #ffcf37;   
    border: none;
    border-radius: 20px;
    padding: 3px;
    padding-inline: 15px;
    margin: 2px;
    font-size: 18px;

    display:inline-block;
}

.left-column button.active {
    color: #de2572;             /* active page highlight */
    font-weight: bold;           /* optional, makes it stand out */
}

.footer {
    margin-top: 20px;

    border-top: 3px dotted #ffcf37; 
    color:#ffcf37;
    font:bold;
    
    display: block;            /* ensures stacking */
    box-sizing: border-box;    /* prevents border from breaking width */
}

/* ******************* CLOCK ******************* */

.clock {
    position: relative;
    width: 150px;
    height: 150px;
    border: 8px solid #000;
    border-radius: 50%;
    background: white;
}

/* clock hands */
.hand {
    position: absolute;
    bottom: 50%;
    left: 50%;
    transform-origin: bottom center;
    transform: translateX(-50%) rotate(0deg);
}

.hour {
    width: 6px;
    height: 37.5px;
    background: #000;
}

.minute {
    width: 4px;
    height: 52.5px;
    background: #000;
}

.second {
    width: 2px;
    height: 63.75px;
    background: #de2572;
}

/* center dot */
.center {
    position: absolute;
    width: 10px;
    height: 10px;
    background: #000;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* ******************* CONTENT ******************* */


.content {
    height: 77%;              /* needs a unit */
    width: 900px;
    min-width: 600px;
    padding: 30px;    
    margin:5px;
    
    display: block;            /* ensures stacking */
    box-sizing: border-box;    /* prevents border from breaking width */

    overflow-y: auto;

    background-color: #ff4e9839;
    /* background-color: #ffe079b1; */
    border-radius: 30px;
}

.content img {
    max-width: 100%;
}

/* ******************* RIGHT COLUMN ******************* */

.right-column {
    height: 80%; 
    width: 250px;
    padding: 5px;
    
    margin-left: 10px;
    
    display: block;

    box-sizing: border-box;   

    overflow-y: auto;

    min-width: 190px;
}

.right-column img {
    max-width: 100%;
    border-radius: 30px;
}

.right-column-content {
    background-color: #ffe079b1;
    border-radius: 30px;
    padding: 15px;
    margin-bottom: 15px;
}

.right-column-content img {
    border-radius: 20px;
}

.right-column button {
    background: #ffcf37;   
    border: none;
    border-radius: 20px;
    padding: 3px;
    padding-inline: 15px;
    margin: 2px;
    font-size: 18px;
}

.update-log, .to-do{
    max-height: 200px;
    overflow-y: scroll;
}

.right-column button, 
.right-column a {
    background: #ffcf37;   
    border: none;
    border-radius: 20px;
    padding: 3px;
    padding-inline: 15px;
    margin: 2px;
    font-size: 18px;

    display:inline-block;
}

/* ******************* BLOG ******************* */

.blog-post {
    max-width: 100%;
    line-height: 1.6;
    counter-reset: figure;
}

.blog-header {
    border-bottom: 2px dotted #de2572;
    padding-bottom: 0px;
    margin-bottom: 30px;
}
  
.blog-preview {
    padding: 0px;
    margin-block: -10px;
}
  
/* .blog-preview button { 
} */

.blog-figure {
    margin: 30px 0;
    text-align: center;
    counter-increment: figure;
}
  
.blog-figure img {
    max-height:500px;
    max-width: 100%;
    width: auto;
    border-radius: 8px;
}

.blog-post video {
    max-height: 500px; /* max height */
    max-width: 100%;   /* responsive */
    width: auto;       /* preserve aspect ratio */
    display: block;    /* remove inline spacing */
    margin: 0 auto;    /* center if needed */
}  
  
.blog-figure figcaption {
    margin-top: 8px;
    font-size: 14px;
    font-style: italic;
}
  
.blog-figure figcaption::before {
    content: "Figure " counter(figure) ": ";
    font-weight: bold;
}
  
.signature {
    margin-block: 30px;
    color: #de2572;
}

/* ******************* MEDIA CONSUMED CHART ******************* */

.info-chart {
  width: 100%;
  border-collapse: collapse;
  font-family: "Absans";
}

.info-chart th,
.info-chart td {
  border: 2px solid #000fb0;
  border-left: 0px solid #000fb0;
  border-right: 0px solid #000fb0;
  padding: 8px;
  vertical-align: top;
  min-width: 100px;
}

.info-chart th {
  /* background: #feffc5; */
  text-align: left;
}

.info-chart img {
  max-width: 200px;
}

.info-chart p {
    margin: 0;
}

/* ******************* MEDIA CONSUMPTION GALLERY ******************* */

.masonry {
    column-count: 4;
    column-gap: 10px;
    padding: 10px;
}

@media (max-width: 1200px) {
    .masonry { column-count: 3; }
}
@media (max-width: 800px) {
    .masonry { column-count: 2; }
}
@media (max-width: 500px) {
    .masonry { column-count: 1; }
}

.card {
    break-inside: avoid;
    margin-bottom: 16px;
    border-radius: 12px;
    overflow: hidden;
}

.card img {
    width: 100%;
    display: block;
}


/* ******************* MAP FROM LEAFLET ******************* */
#map {
    height: 500px;           
    width: 100%;
}

  
.leaflet-popup-content-wrapper {
    background: #feffc5;
    color: #000fb0;
    font-family: "Absans";
    font-size: 14px;
    border-radius: 8px;
}
  
.leaflet-popup-tip {
    background: #feffc5;
}

/* ******************* CURSOR FOLLOWER (MOUSE) ******************* */
#cursor-follower {
    position: fixed;
    top: 0;
    left: 0;
    width: 30px;   /* size of follower */
    height: auto;
    pointer-events: none; /* VERY IMPORTANT */
    z-index: 9999;
}
  
/* ******************* HIGHLIGHTED SELECTION COLOR ******************* */
::selection {
    background: #de25726b;
    /* color: #de2572;     */
}

::-moz-selection {
    background: #de25726b;
    /* color: #de2572;     */
}

