/* *********************************************************
**** FONTS + COLORS
********************************************************** */

@font-face {
    font-family: "Pang";
    src: url("fonts/pang.otf") format("opentype");
}

@font-face {
    font-family: "Absans";
    src: url("fonts/absans-main/fonts/Absans-Regular.otf") format("opentype");
}

/* theme-colors {
    background-color: #de2572;
    background-color: #ff3333;
    background-color: #c1d267;
    background-color: #ffcf37;
    background-color: #ffd0376c;
    background-color: #000fb0; 
} */

/* *********************************************************
**** GENERAL BODY + TEXT STYLING
********************************************************** */

html {
    height: 100%;
}

body {

    height: 100%;
    overflow: hidden;

    font-family: "Absans";
    background-color: #ffdbfd;
}

h1 {
    font-size: 40px;
}

a, button {
    font-family: "Absans";
    color: #3b00b0;       
    transition: color 0.2s;
    text-decoration: none;
    background: none;
    border: none;
    margin: 0;
    font-size: 18px;
}

a:hover, button:hover {
    color: #de2572;   
}

/* *********************************************************
**** CURSOR + FOLLOWER MOUSE
********************************************************** */

body, 
a,
a:hover,
a:active,
a:focus
button,
button:hover,
input,
textarea,
select,
label {
    cursor: url("img/cheese.cur") 0 0, auto;
}

#cursor-follower {
    position: fixed;
    top: 0;
    left: 0;
    width: 30px;   /* size of follower */
    height: auto;
    pointer-events: none; /* VERY IMPORTANT */
    z-index: 9999;
}
  
/* *********************************************************
**** HIGHLIGHT COLOR 
********************************************************** */

/* ::selection {
    background: #de25726b;
}

::-moz-selection {
    background: #de25726b;
} */

/* *********************************************************
**** TICKER 
********************************************************** */

.ticker-wrap {
    position: fixed;
    top: 0;
    width: 100%;
    height: 35px;
    background: #ffb963;
    overflow: hidden;
    z-index: 9999;
    left: 0;
}
  
.ticker {
    display: inline-flex;
    align-items: center;
    height: 100%;
    white-space: nowrap;
    animation: scroll 15s linear infinite;
}
  
.ticker span {
    padding-right: 100px;
}
  
/* Animation */
@keyframes scroll {
    0% {
      transform: translateX(160%);
    }
    100% {
      transform: translateX(-100%);
    }
}

/* *********************************************************
**** MENU
********************************************************** */

.menu {
    position: fixed;
    width: 100%;           
    height: 35px;
    top: 35px;    
    left:0;

    /* display: block;            */
    /* box-sizing: border-box;    */
    /* overflow: hidden; */

    /* background-color: #000fb0; */
}

.menu img {
    max-height: 35px;
    max-width: 100%;
    width: auto;
}

.menu button {
    background: #ffcf37;   
    border: none;
    border-radius: 20px;
    padding-block: 3px;
    /* padding-inline: 15px; */
    margin-block: 2px;
    width: 24.8%;
    /* font-size: 18px; */
}

.menu button.active {
    background-color: #de2572;  
    color: #ffcf37;
    font-weight: bold;           /* optional, makes it stand out */
}

/* .trim {
    width: 30px;
    height: 100%;
    background-image: url("img/lace_trim.png");
    background-size:contain;     
    background-position: center; 
    background-repeat: repeat-y; 
} */

/* *********************************************************
**** FOOTER
********************************************************** */

.footer {
    margin-top: 20px;
    height: 100px;
    width: 100%;
    position: fixed;
    bottom: 0;
    overflow: hidden;
}

.footer img {
    max-height: 100px;
    max-width: 55px;
    width: auto;
}

/* *********************************************************
**** CONTENT
********************************************************** */

.content {
    height: 100%;              /* needs a unit */
    width: 100%;
    margin-top: 80px;
    margin-bottom: 110px;
    padding-inline: 50px;
    
    /* display: block;           */
    /* box-sizing: border-box;  */

    overflow-y: auto;

}

.content img {
    max-width: 100%;
}


/* *********************************************************
**** BLOG
********************************************************** */

.blog-post {
    max-width: 100%;
    line-height: 1.6;
    counter-reset: figure;
}

.blog-header {
    border-bottom: 2px dotted #de2572;
    padding-bottom: 0px;
    margin-bottom: 30px;
}
  
.blog-preview {
    padding: 0px;
    margin-block: -10px;
}

.blog-figure {
    margin: 30px 0;
    text-align: center;
    counter-increment: figure;
}
  
.blog-figure img {
    max-height:500px;
    max-width: 100%;
    width: auto;
    border-radius: 8px;
}

.blog-post video {
    max-height: 500px; /* max height */
    max-width: 100%;   /* responsive */
    width: auto;       /* preserve aspect ratio */
    display: block;    /* remove inline spacing */
    margin: 0 auto;    /* center if needed */
}  
  
.blog-figure figcaption {
    margin-top: 8px;
    font-size: 14px;
    font-style: italic;
}
  
.blog-figure figcaption::before {
    content: "Figure " counter(figure) ": ";
    font-weight: bold;
}
  
.signature {
    margin-block: 30px;
    color: #de2572;
}

/* *********************************************************
**** CHART FOR MEDIA CONSUMPTION
********************************************************** */

.info-chart {
  width: 100%;
  border-collapse: collapse;
  font-family: "Absans";
}

.info-chart th,
.info-chart td {
  border: 2px solid #000fb0;
  border-left: 0px solid #000fb0;
  border-right: 0px solid #000fb0;
  padding: 8px;
  vertical-align: top;
  min-width: 100px;
}

.info-chart th {
  /* background: #feffc5; */
  text-align: left;
}

.info-chart img {
  max-width: 200px;
}

.info-chart p {
    margin: 0;
}


/* *********************************************************
**** LEAFLET MAP
********************************************************** */

/* #map {
    height: 500px;           
    width: 100%;
}

  
.leaflet-popup-content-wrapper {
    background: #feffc5;
    color: #000fb0;
    font-family: "Absans";
    font-size: 14px;
    border-radius: 8px;
}
  
.leaflet-popup-tip {
    background: #feffc5;
} */
