
@font-face {
    font-family: "Pang";
    src: url("fonts/pang.otf") format("opentype");
}

@font-face {
    font-family: "Absans";
    src: url("fonts/absans-main/fonts/Absans-Regular.otf") format("opentype");
}

theme-colors {
    background-color: #fa6bbc;
    background-color: #ff3333;
    background-color: #c1d267;
    background-color: #feffc5;
    background-color: #000fb0;
}


body {
    /* color:#8200d3; */
    padding-top: 30px; /* header height + spacing */
    display: flex;
    gap: 20px;           /* space between columns */
    align-items: flex-start;
    padding-left: 20px;

    font-family: "Absans";
}

h1 {
    font-size: 40px;
}

a {
    color: #000fb0;             /* normal text color */
    cursor: pointer;
    transition: color 0.2s;
    text-decoration: none;
}

a:hover {
    color: #fa6bbc;
}

.menu {
    height: max-content;              /* needs a unit */
    width: 350px;
    margin: 5px;         /* centers horizontally & adds spacing */

    /* border-top: 3px solid #ff3333; */
    
    display: block;            /* ensures stacking */

    box-sizing: border-box;    /* prevents border from breaking width */
}

.menu img {
    max-width: 100%;
}

.menu button {
    background: none;           /* remove default button look */
    border: none;
    padding: 0;
    margin: 5px 0;
    font-family: "Absans"; /* your custom font */
    font-size: 16px;
    color: #000fb0;             /* normal text color */
    cursor: pointer;
    transition: color 0.2s;
}

.menu button:hover {
    color: #fa6bbc;             /* color on hover */
}

.menu button.active {
    color: #ff8e5e;             /* active page highlight */
    font-weight: bold;           /* optional, makes it stand out */
}


.footer {
    height: 200px;              /* needs a unit */

    margin-top: 20px;
    
    display: block;            /* ensures stacking */
    
    border-top: 3px dotted #ff3333; 

    box-sizing: border-box;    /* prevents border from breaking width */
}

.content {
    height: max-content;              /* needs a unit */
    width: 900px;
    margin: 5px;         /* centers horizontally & adds spacing */
    right: 100%;

    /* border-top: 3px solid #c1d267; */
    
    display: block;            /* ensures stacking */

    box-sizing: border-box;    /* prevents border from breaking width */
}

.content img {
    max-width: 100%;
}

.blog_post {
    height: max-content;   
    padding-top: 10px;
    border-top: 3px dotted #fa6bbc;
    display: block;            /* ensures stacking */
    box-sizing: border-box;    /* prevents border from breaking width */
}

